<a href="https://colab.research.google.com/github/Bendeguzfrks04/DeepML/blob/main/Readshift.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
%pylab inline
import pandas as pd
import seaborn as sn

Populating the interactive namespace from numpy and matplotlib

In [3]:
df = pd.read_csv("sample.csv")

In [8]:
df.head()

   ID  redshift
0   0  0.107049
1   1  0.107049
2   2  0.107049
3   3  0.107049
4   4  0.107049